@media (max-width: 739px) {
    html {
        width: 740px;
    }
    * {
        margin: 0;
        width: 100%;
        box-sizing: inherit;
    }
    .user {
        display: block;
    }
    .name, .mssv {
        font-size: 30px;
        margin: 10px 0;
    }
    .mobile {
        height: 60px;
        font-size: 60px;
        margin-top: 10px;
    }
    #create {
        font-size: 40px;
    }
    #list-courses {
        height: 740px;
        display: block;
        padding: 0;
    }
    .nd {
        font-size: 30px;
    }

    #list-courses li {
        height: auto;
        display: block;
    }
    #list-courses li span {
        width: 80%;
    }
    #delete {
        font-size: 30px;
    }
}
